name: {{ workflow_name }}
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build {{ service }}
        run: echo "Building {{ service }}"